
.backdrop {
  fill: #aaa;
}

.board-border {
  fill: #606060;
}

.board-square {
  stroke-width: 0.05;

  stroke: black;

  fill: forestgreen;
}

.side-chrome-backdrop {
  fill: black;
}

.player-panel-backdrop.dark {
  fill: gray;
  stroke: none;
}

.player-panel-backdrop.light {
  fill: lightgray;
  stroke: none;
}

.disk {
  stroke-width: 0.12;

  &.dark {
    fill: #4b4b50;
    stroke: #2f2f2f;
  }

  &.light {
    fill: #e7e7e7;
    stroke: white;
  }
}

.ghost-piece {
  opacity: 0.48;
}
