
.backdrop {
  fill: #aaa;
}

.board-border {
  fill: #606060;
}

.side-chrome-backdrop {
  fill: black;
}

.player-panel-backdrop.dark {
  fill: gray;
  stroke: none;
}

.player-panel-backdrop.light {
  fill: lightgray;
  stroke: none;
}
